<button @click="openModal()" class="btn btn-primary">Click Me</button>

<div class="remodal" data-remodal-id="modal" v-remodal="demoModal">
  <button data-remodal-action="close" class="remodal-close"></button>
  <h1>Vue-Remodal</h1>
  <p>
    Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
  </p>
  <br>
  <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
  <button data-remodal-action="confirm" class="remodal-confirm">OK</button>
</div>